product/*
!product/.gitkeep
!product/default.jpg

images/*
!images/.gitkeep

chat/*
!chat/.gitkeep

admin/report/*
!admin/report/.gitkeep
!admin/report/default.jpg

!images/banner-wide.png
!images/banner2-wide.png
!images/banner3-wide.png